#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chat-container {
  max-height: 400px;
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 10px;
  border: 1px solid #5991A1;
  margin-bottom: 20px;
}

.text-box {
  border: 1px solid #004258; 
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px; /* Rounded corners */
  background-color: #004258; 
  color: mintcream; 
  text-align: left;
}

.input-box {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #004258;
  border-color: #004258;
  color: mintcream;
  ;
  
}

::placeholder {
  color: mintcream
}

.submit-box {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #000;
  border-color: #000;
  color: mintcream;
}
